# --- Ficheiros do R e RStudio ---
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# --- Ficheiros do Quarto ---
.quarto/
_freeze/

# --- Outros ficheiros de sistema ---
.DS_Store
Thumbs.db

/.quarto/
**/*.quarto_ipynb
